.card {
  /*max-width: 300px;*/
  /*margin-bottom: 30px;*/
  display: block;
  padding: 0px;
  background: white;
  border: 0.5px solid #CACFD2;
  border-radius: 5px;
  overflow: hidden;
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  margin-top: 1%;
  width: 23%;
  height: 300px ;
  /*float: right;*/
  clear: both;
  @media only screen and (max-width: 1000px) {
	width: 90%;
	margin-bottom: 40px;
	margin-left: 5%;
	margin-right: 5%;
 
  }
  &.strib {
    border: 0.5px solid #00824a;
    a {
    	color: #333;
    	/*border-bottom: 1px solid #333;*/
    	text-decoration: underline;
    	font-weight: bold;
    	display: inline-block;
    	margin-left: 5px;
    }
  }
  &.portrait {
  	width: 23%;
    height: calc(600px + 1%);
  	/*@media only screen and (min-width: 1001px) and (max-width: 1300px) {
		width: 22%
	  }*/
	  @media only screen and (min-width: 601px) and (max-width: 1000px) {
		width: 90%;
		video {
	  		height: 800px;
	  	}
	  }
	  @media only screen and (max-width: 600px) {
	  	width: 90%;
		video {
	  		height: 500px;
	  	}
	  }
  }
  &.landscape {
  	width: 48%;
    height: calc(600px + 1%);
  	/*@media only screen and (min-width: 1001px) and (max-width: 1300px) {
		width: 50%
	  }*/
	  @media only screen and (min-width: 601px) and (max-width: 1000px) {
		width: 90%;
		video {
	  		height: 400px;
	  	}
	  }
	  @media only screen and (max-width: 600px) {
	  	width: 90%;
		video {
	  		height: 225px;
	  	}
	  }
  }
  &.photo {
  	&.portrait {
  		div.photograph {
	  		height:400px;
	  		@media only screen and (max-width: 600px) {
				height: 350px;
		    }
	  	}
  	}
  	div.photograph {
  		height: 400px;
  		@media only screen and (max-width: 600px) {
			height: 200px;
	    }
  	}
  }
  h5 {
	margin: 0;
	padding: 0;
	font-family: "Benton Sans";
	font-weight: bold;
	text-align: left;
	font-size: 11px !important;
	letter-spacing: 1px;
	margin-bottom: 20px;
	text-transform: uppercase;
	padding-left: 40px;
	padding-top: 40px;
	@media only screen and (max-width: 1000px) {
		padding-left: 30px;
		padding-top: 30px;
	  }
	span.green {
		color: #00824a;
		font-weight: normal;
	}
  }
  .text {
  	padding: 40px;
  	@media only screen and (max-width: 1000px) {
		padding: 30px;
	  }
  	h5 {
  		padding: 0;
  	}
  	p {
		font-family: "Benton Sans";
  		font-weight: normal;
  		font-size: 16px !important;
  		line-height: 1.4;
  		margin-bottom: 10px;
  		margin-top: 0;
  		@media only screen and (max-width: 1000px) {
			font-size: 15px !important;
		  }
  	}
  	h4 {
  		margin-bottom: 0;
  		margin-top: 0;
  		text-align: left;
  		font-family: "Benton Sans";
  		font-weight: normal;
  		font-size: 14px !important;
  	}
  }
}
