html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background: #F8F9F9 !important;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

// PROJECT SPECIFIC GLOBAL STYLES

.series-article.body-override .article-body {
    width: auto;
    max-width: 100% !important;
}

.article-body {
    width: auto;
    max-width: 100% !important;
}

.article-body div.photo img {
    max-width: 100% !important;
    max-height: 100% !important;
}

.series-article .hero-override .article-headline {
    text-align: center;
    letter-spacing: -1.85px;
    line-height: 102%;
    margin-top: 0;
    font-family: "Popular";
    font-weight: bold;
    font-size: 5em;
    margin-top: 100px !important;
}

.hero-override.mobile-hero {
	margin-bottom: 40px;
	h1 {
		text-align: center;
	    letter-spacing: -.5px;
	    line-height: 102%;
	    margin-top: 0;
	    font-family: "Popular";
	    font-weight: bold;
	    font-size: 2.75em;
	    margin-top: 50px;
	}
	p.summary {
		padding: 18px 20px;
	    text-align: center;
	    font-size: 1.2em;
	    line-height: 130%;
	    margin-top: 0;
	    margin-bottom: .5em;
	    font-family: "Benton Sans";
	    letter-spacing: -0.25px;
	    margin-top: 20px;
	    font-weight: normal;
	}
}

.content {
    max-width: 100%;
    padding: 0;
}

.series-article .hero-override .article-subhead {
    padding: 18px 0;
    text-align: center;
    font-size: 1.9em;
    line-height: 130%;
    margin-top: 0;
    margin-bottom: .5em;
    font-family: "Benton Sans";
    letter-spacing: -0.5px;
    margin-top: 20px !important;
}

.intro-text {
	margin: 0 auto;
	max-width: 1200px;
	margin-bottom: 50px;
	display: block;

	p {
		text-align: center;
		margin: 0 auto;
	    max-width: 1200px;
	    margin-bottom: 75px;
	    margin-top: 0px;
	    display: block;
	    font-weight: bold;
	    font-family: "Benton Sans";
		a {
			text-decoration: underline;
		}
		@media only screen and (max-width: 1000px) {
		    font-size: 15px;
		    width: 285px;
		    margin-bottom: 50px;
		  }
	}

}

.cards-grid {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: 1500px;
	margin-bottom: 100px;
	@media only screen and (max-width: 900px) {
		display: block;
	}
}

.trackerImage {
	width:1px;
	height:1px;
}

// Button styles

.showMore {
	margin: 0 auto;
	max-width: 150px;
	margin-bottom: 80px;
	transition: 1s all;
	p {
		font-family: "Benton Sans", sans-serif !important;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		background-color: #61bf1a;
		border: 1px solid #61bf1a;
		color: white;
		padding: 10px 10px;
		font-family: "Benton Sans";
		font-weight: bold;
		font-size: 13px !important;
		letter-spacing: 0.5px;
	}
}

.showMore:hover {
	cursor: pointer;
	transition: 1s all;
	p {
		color: #61bf1a;
		background-color: white;
	}
}
